@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sairafamily/v10/KDiBOg9Vq37kL6o9LuZ2FgcY.woff2) format('woff2');
  }
}